@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply h-full w-full;
}

#root {
  padding: 0px;
  margin: 0px;
  width: "100%";
  height: "100%";
}

.default-icon {
  @apply w-5 h-5;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}
.custom-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #5b21b6 #2e1a47; /* thumb & track (Firefox) */
}

/* Chrome, Edge, and Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #2e1a47;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #5b21b6;
  border-radius: 10px;
  border: 1px solid transparent;
}
